[profile.release]
opt-level = 's'

[workspace]
exclude = [
    'games/poker/ffi',
    'games/poker/wasm',
    'games/template/ffi',
    'games/template/wasm',
    'apps/palette/ffi',
    'apps/palette/wasm',
]
members = [
    'rust-pixel',
    'tools/*',
    'games/*',
    'apps/*',
]
resolver = '2'

[workspace.package]
authors = ['zipxing@hotmail.com']
description = '2d pixel art game engine & rapid prototype tools support terminal,sdl2 and web...'
